import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;600&display=swap');

body{
    font-family: "Work Sans";
    width: 100%;
    margin: 0 auto;
    max-width: 40em;
    background-color: #ce90@33;
    text-align: center;
    color:  #47424b;
}
// colores y formato de letra y fondo de la pagina.
h2{
    font-weight: 100;
    margin: 1em 0;
    font-size: 3em;
}

img{
    width: 100%;
    mix-blend-mode: lighten;
}

a{
    color: rgba(238, 234, 234, 0.777);
    font-weight: bolder;
}
Pie de página
© 2022 GitHub, Inc.
Navegación por pie de página
Letra c
